{% extends "layout.html" %}

{%block title %}Book details - {{ book.title }} by {{ book.author }} {%endblock%}

{%block body%}
    
    <ul class="list-group">
        <li class="list-group-item">
            <div class="result title">{{ book.title }}</div>
            <div class="result author">{{ book.author }}, {{ book.year }}</div>
            <div class="result isbn">{{ book.isbn }}</div>
            <ul class="rating" data-rating="{{ book.rating }}">
                    <li class="rating__item"></li>
                    <li class="rating__item"></li>
                    <li class="rating__item"></li>
                    <li class="rating__item"></li>
                    <li class="rating__item"></li>
            </ul> 
            ({{book.rating_count}} ratings)

            {% if gr_rating == None %}
                    <div>No rating data on goodreads found or couldn't interpret server response</div>
            {% else %}
                <div class="result gr_rating">Average rating on Goodreads.com: {{gr_rating}}</div>
                <div class="result gr_numratings">Number of ratings: {{gr_numratings}}</div>
            {% endif %}
        </li>
    </ul>

    {% for review in reviews %}
    {% if session['user_id'] == review.user_id %}
    &RightTeeArrow; Your review:
    {% endif %}
        <div class="review headline">{{review.headline}}</div>
        <ul class="rating" data-rating="{{ review.rating }}">
                <li class="rating__item"></li>
                <li class="rating__item"></li>
                <li class="rating__item"></li>
                <li class="rating__item"></li>
                <li class="rating__item"></li>
        </ul> 
        <div class="review">{{review.review}}</div>
    {% endfor %}
{%endblock%}